.listDog {
  background-color: #f9b15f;
  .titleSection {
    text-align: left;
    margin-left: 1rem;
    padding-bottom: 0.5rem;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
  }

  .carousel {
    max-width: 210px;
  }
}
